
/* Your CSS Code here. */
nav{
	display:flex;
	background-color:gray;
	border-radius:10px;
}
nav ul{
	display:flex;
	gap:20px;
	text-align:center;
}
nav ul li{
	list-style:none;
}
nav ul li a{
	text-decoration:none;
	color:black;
}
.container{
	display:flex;
	flex-direction:column;
	align-items:center;
}